<%- include('header');-%>
<div class="container ">
      
    <div class="jumbotron p-4 p-md-5  rounded  ">
      <div class="col-md-12] text-right px-0">
        <h1 class="display-4 font-italic text-center text-secondary ">مرحبا بك في صفحه الوظائف</h1>
        
      </div>
    </div>
    <div class="row mb-2">
        <% Works.forEach(work => { %>
         
        <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-muted"><%= work.createDate %> </strong>
            <h3 class="mb-0"><%= work.JobName %> </h3>
            <div class="mb-1 text-muted" style="text-align: right;"><%= work.place %> 
            <p class="card-text mb-auto"><%= work.discription %> </p>
        </div>
        <a href="/workpage/<%= work._id%> " class="stretched-link">اضغط هنا للانتقال الى صفحه الوظيفة</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <%- include('footer');-%>